/*--------------------------------------------------------------
# HPN - Colores
--------------------------------------------------------------*/

$hpn-negro:black;
$hpn-azul-oscuro: #243163;
$hpn-azul: #2c4794;
$hpn-cyan: #00a1df;
$hpn-rojo: #cb0053;
$hpn-celeste: #84cef0;
$hpn-celeste-claro: #d7f1fd;
$hpn-violeta: #662480;
$hpn-violeta-claro: #982f98;
$hpn-magenta: #e3007e;
$hpn-verde: #00b9b1;
$hpn-verde-claro: #63c7b7;
$hpn-gris: #7d7d7d;
$hpn-gris-claro: #e9e9e9;
$hpn-blanco: #ffffff;
$gradient: linear-gradient(0deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;